# Root .npmrc for installing private packages from GitHub Packages
# Scope user: @nalendramuhammad

registry=https://registry.npmjs.org/
@nalendramuhammad:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

# Optional: always authenticate to scoped registry
# always-auth=true
